# Archivos de configuracion de IDE y sistema
*.iml
.gradle/
.idea/
.DS_Store
local.properties

# Carpetas de build
**/build/
**/captures/

# Archivos temporales de compilacion y logs
*.class
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

# Archivos empaquetados
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Kotlin Gradle plugin data
.kotlin/

# Archivos generados por Gradle
gradle/
gradlew
gradlew.bat
gradle.properties

# Archivos de configuracion de Gradle que permite
!build.gradle.kts
!settings.gradle.kts

# Ignora carpetas generadas dentro de app
app/build/
app/captures/